<header class="header-task">
    <h3 class="header-task-title">Task - Nome da task</h3>
    <p class="header-task-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque illum eius omnis
        possimus facilis itaque minus at
        quisquam nihil velit voluptas commodi nisi asperiores, ratione odit quidem repellendus quibusdam facere?</p>
</header>

<main class="main-task">
    <section class="main-task-votes card-result-reveal-user">
        <app-vote-card-user class="card"></app-vote-card-user>
        <app-vote-card-user class="card"></app-vote-card-user>
        <app-vote-card-user class="card"></app-vote-card-user>
        <app-vote-card-user class="card"></app-vote-card-user>
        <app-vote-card-user class="card"></app-vote-card-user>
        <app-vote-card-user class="card"></app-vote-card-user>
        <app-vote-card-user class="card"></app-vote-card-user>
        <app-vote-card-user class="card"></app-vote-card-user>
        <app-vote-card-user class="card"></app-vote-card-user>
    </section>

    <section class="main-task-result card-result-reveal">
        <app-vote-card [typeCard]="'sword'" class="card"></app-vote-card>
        <p class="main-task-result-label">Resultado da Task</p>
    </section>
</main>