<header class="header-task-history">
    <h3 class="header-task-history-title">Histórico de tasks</h3>
</header>

<main class="main-task-history">
    <section class="main-task-history-list">
        <ng-container>
            <section class="main-task-history-list-item">
                <p class="main-task-history-list-item-title">Atividade 1</p>
                <p class="main-task-history-list-item-hour">10 horas</p>
            </section>
            
            <section class="main-task-history-list-item">
                <p class="main-task-history-list-item-title">Atividade 1</p>
                <p class="main-task-history-list-item-hour">10 horas</p>
            </section>
            
            <section class="main-task-history-list-item">
                <p class="main-task-history-list-item-title">Atividade 1</p>
                <p class="main-task-history-list-item-hour">10 horas</p>
            </section>
        </ng-container>
    </section>

    <section class="main-task-history-total">
        <p class="main-task-history-total-label">Média total:</p>
        <p class="main-task-history-total-value">10 horas</p>
    </section>
</main>