<header class="header-room">
    <section class="header-logo">
        <app-logo [isNormal]="false"></app-logo>
    </section>
    <section class="header-info">
        <h2 class="header-info-title">title</h2>
        <h2 class="header-info-description">description</h2>
    </section>
    <section class="header-count">
        <mat-icon matBadge="1">person</mat-icon>
        <mat-icon matBadge="3">remove_red_eye</mat-icon>
    </section>
</header>

<main class="main-room">
    <section class="list">
        <header class="list-actions">
            <button mat-icon-button matTooltip="Adicionar Task" (click)="addTask()" color="primary">
                <mat-icon>post_add</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Virar os votos" color="primary">
                <mat-icon>360</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Reiniciar os votos" color="primary">
                <mat-icon>replay</mat-icon>
            </button>
        </header>
        <main class="list-users">
            <ng-scrollbar>
                <app-user-card></app-user-card>
                <app-user-card></app-user-card>
                <app-user-card></app-user-card>
            </ng-scrollbar>
        </main>
    </section>

    <section class="main">
        <main>
            <section class="main-body">
                <main>
                    <section class="task">
                        <app-task></app-task>
                    </section>

                    <section class="task-history">
                        <app-task-history></app-task-history>
                    </section>
                </main>
            </section>
            <ng-scrollbar [track]="'horizontal'" [visibility]="'always'" class="scroll-cards">
                <section class="main-cards">
                    <app-vote-card class="card-1"></app-vote-card>
                    <app-vote-card class="card-2"></app-vote-card>
                    <app-vote-card class="card-3"></app-vote-card>
                    <app-vote-card class="card-4"></app-vote-card>
                    <app-vote-card class="card-5"></app-vote-card>
                    <app-vote-card class="card-6"></app-vote-card>
                    <app-vote-card class="card-7"></app-vote-card>
                    <app-vote-card class="card-8"></app-vote-card>
                    <app-vote-card class="card-9"></app-vote-card>
                    <app-vote-card class="card-10"></app-vote-card>
                </section>
            </ng-scrollbar>
        </main>
    </section>
</main>