
<main>

    <section class="users">

        <header class="users-header">
            <section class="actions">
                <button mat-button>Reconectar</button>
            </section>

            <section class="title">
                Status: Conectado
            </section>
        </header>

        <main class="users-list">
            <mat-list>
                <mat-list-item>
                    <main class="user">
                        <section>
                            Renan
                        </section>
    
                        <section>
                            10
                        </section>
                    </main>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </main>
    
    </section>
    
    <section class="voting">

        <header class="voting-header">
            <section class="minor-ratting">
                Menor estimativa: 5
            </section>

            <section class="bigger-ratting">
                Maior estimativa: 6
            </section>
        </header>
    
        <main class="voting-body">
            5
        </main>        

        <footer class="voting-footer">
            <form class="example-form">
                <mat-form-field>
                  <mat-label>Estimativa em Horas</mat-label>
                  <input matInput >
                </mat-form-field>
              
                <mat-form-field >
                  <mat-label>Justificativa</mat-label>
                  <textarea matInput></textarea>
                </mat-form-field>
            </form>
        </footer>

    </section>

</main>
