@import '../../../../scss/layouts.scss';

:host {
    @include display-basic;

    & > main {
        @include display-basic;
        flex-direction: row;

        .users {
            width: 30%;

            .users-header {
                display: flex;
                justify-content: space-around;

            }

            .user{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .voting {
            width: 70%;

            .voting-header {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                height: 20%;
            }

            .voting-body {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                height: 40%;

            }

            .voting-footer {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                height: 40%;

            }
        }
    }
}