@import '../../scss/layouts.scss';
@import '../../scss/colors.scss';

:host {
    @include display-basic;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &>.session {
        @include display-basic;
        width: 50%;
        align-items: center;

        .header-session .title {
            font-size: 24px;
        }

        .main-session {
            width: 50%;

            form.form-session {
                display: flex;
                flex-direction: column;

                .input {
                    margin: 8px;
                }
            }
    
            .footer-session {
                display: flex;
                flex-direction: column;

                button {
                    margin: 8px;
                }
            }
        }
        
    }

    &>.imgs {
        @include display-basic;
        width: 50%;

        img {
            height: 250px;
        }
    }
}