@keyframes focusImg {
    to {
        transform: scale(1.2);
        background-color: red;
    }
    
    from {
        transform: scale(1);
        background-color: blue;
    }
  }

@mixin img-btn {
    cursor: pointer;
    
    &:hover{
        transition-property: transform;
        transition-duration: .3s;
        transition-timing-function: linear;
        transform: scale(1.1);
    }
}

