@mixin display-basic {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin display-flex-basic {
    display: flex;
    flex-direction: column;
}