<header class="header-session">
    <h2 class="title">
        Detalhes do usuário
    </h2>
</header>

<main class="main-session">
    <main class="main-inputs">
        <form class="form-session">

            <mat-form-field class="input">
                <mat-label>Nick</mat-label>
                <input matInput placeholder="fala 300">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Nome da sala</mat-label>
                <input matInput placeholder="sprint 10">
            </mat-form-field>

        </form>
    </main>

    <footer class="footer-session">
        <button mat-raised-button class="btn-create" color="primary">Criar</button>
        <button mat-raised-button class="btn-enter" color="primary">Entrar</button>
    </footer>
</main>