<header class="header-session">
    <h2 class="title">
        Detalhes do usuário
    </h2>
</header>

<main class="main-session">
    <main class="main-inputs">
        <form class="form-session" [formGroup]="formRoom">

            <mat-form-field class="input">
                <mat-label>Nick</mat-label>
                <input matInput placeholder="fala 300" formControlName="user">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label>Nome da sala</mat-label>
                <input matInput placeholder="sprint 10" formControlName="room">
            </mat-form-field>

        </form>
    </main>

    <footer class="footer-session">
        <button mat-raised-button class="btn-create" [disabled]="!formRoom.valid" (click)="createRoom()" color="primary">Criar</button>
        <button mat-raised-button class="btn-enter" [disabled]="!formRoom.valid" (click)="enterRoom()" color="primary">Entrar</button>
    </footer>
</main>

