
@import '../../../scss/layouts.scss';
@import '../../../scss/btns.scss';

:host {
    @include display-basic;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    & > .social {
        img.git {
            height: 25px;
            @include img-btn();
        }
    }

    & > .info {
        p {
            margin: 0;
            font-size: 16px;
        }
    }
}
