<main class="container-layout">
    <app-layout-body></app-layout-body>
</main>

<section class="cards">
    <img class="card card-hearth" src="../../../../assets/imgs/carta_coracao.png">
    <img class="card card-sword" src="../../../../assets/imgs/carta_espada.png">
    <img class="card card-littleflower" src="../../../../assets/imgs/carta_florzinha.png">
    <img class="card card-ballon" src="../../../../assets/imgs/carta_balao.png">
    <img class="card-all" src="../../../../assets/imgs/cartas.png">
</section>