@import '../../../scss/layouts.scss';
@import '../../../scss/colors.scss';

:host {
    @include display-basic;
    width: auto;
    padding: 80px;
    box-shadow: 0px 0px 82px -15px $shadow-collor inset;
    background-image: url("../../../../assets/imgs/table.jpg");
    background-position: center;
    background-size: cover;

    &>.cards {
        .card {
            height: 60px;

            &.card-hearth {
                position: fixed;
                right: 0px;
                top: 0px;
                transform: rotate(-47deg);
            }

            &.card-littleflower {
                position: fixed;
                left: 0;
                bottom: 0;
                transform: rotate(38deg);
            }

            &.card-ballon {
                position: fixed;
                right: 0;
                bottom: 0;
                transform: rotate(-10deg);
            }

            &.card-sword {
                position: fixed;
                left: 0;
                top: 0;
                transform: rotate(13deg);
            }

        }

        .card-all {
            height: 200px;
            position: fixed;
            left: 45%;
            bottom: -91px;
        }

    }

    &>main.container-layout {
        &>main {
            height: 100%;
            width: 100%;
        }
    }
}