<main class="container-layout">
    <header>
        <app-layout-header></app-layout-header>
    </header>
    
    <main>
        <app-layout-nav></app-layout-nav>
        <app-layout-body></app-layout-body>
    </main>
    
    <footer>
        <app-layout-footer></app-layout-footer>
    </footer>
</main>

<section class="cards">
    <img class="card card-hearth" src="../../../../assets/imgs/carta_coracao.png">    
    <img class="card card-sword" src="../../../../assets/imgs/carta_espada.png">    
    <img class="card card-littleflower" src="../../../../assets/imgs/carta_florzinha.png">    
    <img class="card card-ballon" src="../../../../assets/imgs/carta_balao.png">    
    <img class="card-all" src="../../../../assets/imgs/cartas.png">    
</section>