@import '../../../scss/layouts.scss';
@import '../../../scss/colors.scss';

:host {
    @include display-basic;
    width: auto;
    padding: 80px;
    box-shadow: 0px 0px 82px -15px $shadow-collor inset;
    background-image: url("../../../../assets/imgs/table.jpg");
    background-position: center;
    background-size: cover;

    &>.cards {
        .card {
            height: 60px;

            &.card-hearth {
                position: fixed;
                right: 200px;
                top: 158px;
                transform: rotate(45deg);
            }

            &.card-littleflower {
                position: fixed;
                right: 200px;
                bottom: 57px;
                transform: rotate(-11deg);
            }

            &.card-ballon {
                position: fixed;
                right: 63px;
                bottom: 139px;
                transform: rotate(29deg);
            }

            &.card-sword {
                position: fixed;
                right: 84px;
                top: 50px;
                transform: rotate(-65deg);
            }

        }
        .card-all {
            height: 200px;
            position: fixed;
        }

    }

    &>main.container-layout {
        @include display-basic;
        box-shadow: 0px 30px 30px -2px transparentize($color: darken($color: $shadow-collor, $amount: 100), $amount: 0);
        border-radius: 28px;
        background-color: $white;
        overflow: hidden;

        &>header {
            height: 60px;
        }

        &>main {
            height: calc(100% - (60px + 30px));
            display: flex;
            width: 100%;
        }

        &>footer {
            height: 30px;
        }
    }


}